<h1>Uppercase pipe example </h1>
<!-- This title is being uppercased with the uppercase pipe. This allows the title's value to not change in the component. -->
<h2>{{title | uppercase}}</h2>

<h1>Json Value pipe</h1>
<!-- The json pipe allows us to view an object as json in the browser. Rather than [Object, objectd] -->
<h2>{{jsonValue | json}}</h2>

<h1>Data pipe Example</h1>
<!-- The date pipe allows us to format the date the way we want it to. Default is like - Apr 8, 2021 - The newDate var is coming from JavaScripts new Date method. This is not formated standardly -->
<!-- Visit https://angular.io/api/common/DatePipe to see the options of formating your date! -->
<h2>{{newDate | date:'medium' }}</h2>
<!-- This is the custom format for date pipe -->
<h2>{{newDate | date:'M:d:H' }}</h2>

<h1>Custom truncate pipe example</h1>
<!-- This text is being truncated from the custom truncate pipe we created. -->
<h2>{{text | truncate}}</h2>

<h1>Ngmodel and keydown example</h1>
<!-- Using ngModel allows us to create two way data binding for the title. When the title is changed within this input, it also changes in the component. And vis versa. -->
<input placeholder="hello" [(ngModel)]="title" (keydown)="handleEvent()">
<br>
<br>
<h1>Click event and ng directive example</h1>
<!-- On click of this button, the handleEvent method will be called. -->
<button (click)="handleEvent()">Click to show user data!</button>


<!-- Printing out the data we are getting back from the httpService -->
<h2>{{data | json}}</h2>

<!-- We are use the 'data' from the httpService, looping over each peice of data, and creating a div for each one -->
<ng-container *ngFor="let user of data; let i=index">
    <div class="user-data">
        <h2>ID: {{i}}</h2>
        <h2>Name: {{user.name}}</h2>
        <h2>Username: {{user.username}}</h2>
        <h2>Email: {{user.email}}</h2>
        <h2>Adress: {{user.adress}}</h2>
        <h2>Phone: {{user.phone}}</h2>
    </div>
</ng-container>


<h1>Input ng model ex</h1>
<!-- These inputs are attached to the user object. On change it will also change the user data in the user component -->
<input placeholder="user" [(ngModel)]="userObject.name">
<input placeholder="user" [(ngModel)]="userObject.age">
<input placeholder="user" [(ngModel)]="userObject.id">

<br>

<h1>Ng if on click example</h1>
<!-- On button click we are going to call the show user data method which will change the showUser variable to true or false -->
<button (click)="showUserData()">Show The USER!</button>
<!-- This is for using ng directives. -->
<ng-container *ngIf="showUser">
    <!-- This is coming from the user component file. This is using the selector from the user.components.ts -->
    <!-- This is a child component -->
    <!-- We are setting the user from out input decorator to be the user variable we made in app component -->
    <!-- The userEvent will lisen for the custom event handler we made in user component. it will call handleNewEvent and console.log the event -->
    <h1>@import and @export example</h1>
    <app-user [user]="userObject" (userEvent)="handleNewEvent($event)"></app-user>
</ng-container>